<!DOCTYPE html>
<html lang="en">
  @@include('../partials/head/head.html')
  <body>
    @@include('../partials/header/header.html')
    <section class="container">
      @@include('../partials/sidebar_l/sidebar_l.html')
      <main class="main">
        <h2 class="main__title center">Презентация</h2>
        <section class="carousel">
          <label for="img-per-slide">Количество слайдов для показа</label
          ><input type="number" id="img-per-slide" value="3" min="1" />
          <label for="img-number">Общее количество слайдов</label
          ><input type="number" id="img-number" value="10" min="1" />
          <label for="show-slide">Показать слайд</label
          ><input type="number" id="show-slide" value="1" min="1" />
        </section>
        <ul class="main__items" id="carousel"></ul>
      </main>
      @@include('../partials/sidebar_r/sidebar_r.html')
    </section>
    @@include('../partials/footer/footer.html')
  </body>
</html>
